* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 500px;
    width: 65%;
    /* background-image: url("/pexels-dreamypixel-547119.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    overflow: hidden;
    /* display: none; */
}



/* HEADER */
#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 15px 25px;
    border-radius: 10px;
    width: 90%;
    background-color: black;
    color: white;
    font-size: 14px;
    transition: 0.3s ease;
    user-select: none; /* text select nahi hoga */
}

#heading h1 {
    font-size: 22px;
    letter-spacing: 1px;
    user-select: none; /* text select nahi hoga */
}

#heading:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px yellow;
}

/* CENTER DIV */
#center_div {
    /* border: 2px solid #a2d2ff; */
    border-radius: 10px;
    height: 250px;
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(15px) saturate(150%); /* Blur + color boost */
    -webkit-backdrop-filter: blur(15px) saturate(150%); /* Safari support */
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    user-select: none; /* text select nahi hoga */
}

/* CATEGORY */
#category {
    border: 2px solid white;
    width: 35%;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
    height: 20%;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    user-select: none; /* text select nahi hoga */
    animation: moveX 2s infinite ease-in-out;
}

#category:hover {
    background-color: #ffafcc;
    color: white;
    transform: scale(1.05);
}

@keyframes moveX {
    0%   { transform: translateX(0); }
    50%  { transform: translateX(10px); } /* kitna move karna hai right */
    100% { transform: translateX(0); }
}



.category_type {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none; /* text select nahi hoga */
    margin: 5px;
}

.category_type:hover {
    background-color: black;
    color: white;
    transform: scale(1.08);
}

/* START BUTTON */
#start_button_div {
    width: 75%;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    backdrop-filter: blur(15px) saturate(150%); /* Blur + color boost */
    -webkit-backdrop-filter: blur(15px) saturate(150%); /* Safari support */
    border: 2px solid black;
    height: 60px;
    margin: 30px auto;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none; /* text select nahi hoga */
    animation: moveY 2s infinite ease-in-out;
    padding: 5.5px;
}

@keyframes moveY {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(10px); } /* kitna move karna hai right */
    100% { transform: translateY(0); }
}



a {
    text-decoration: none;
}


a h3 {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 5.5px;

}

#start_button_div:hover {
    transform: scale(1.03);
    background-color: yellow;
    border: 2px solid yellow;
}

#start_button_div h3:hover {
    color: black;
}


#main_2 {
    height: 500px;
    width: 65%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    overflow: hidden;
    display: none;
    margin: 50px auto;
    border: 2px solid white;
}


.showing_category {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    position: relative;
    top: -70px;
    letter-spacing: 2px;
}

#you_have_Selected {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 20px 20px 0px 20px;
}