* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #222;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 500px;
    width: 65%;
    /* background-image: url("/pexels-dreamypixel-547119.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    /* display: none; */
}



/* HEADER */
#heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 15px 25px;
    border-radius: 10px;
    width: 90%;
    background-color: black;
    color: white;
    font-size: 14px;
    transition: 0.3s ease;
    user-select: none;
    /* text select nahi hoga */
}

#heading h1 {
    font-size: 22px;
    letter-spacing: 1px;
    user-select: none;
    /* text select nahi hoga */
}

#heading:hover {
    transform: scale(1.03);
    /* box-shadow: 0 0 10px ; */
}

/* CENTER DIV */
#center_div {
    /* border: 2px solid #a2d2ff; */
    border-radius: 10px;
    height: 250px;
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    /* Transparent background */
    backdrop-filter: blur(15px) saturate(150%);
    /* Blur + color boost */
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    /* Safari support */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    user-select: none;
    /* text select nahi hoga */
}

/* CATEGORY */
#category {
    border: 2px solid white;
    width: 35%;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
    height: 20%;
    font-size: 15px;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    /* text select nahi hoga */
    animation: moveX 2s infinite ease-in-out;
}

#category:hover {
    background-color: #ffafcc;
    color: white;
    transform: scale(1.05);
}

@keyframes moveX {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    /* kitna move karna hai right */
    100% {
        transform: translateX(0);
    }
}



.category_type {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    /* text select nahi hoga */
    margin: 5px;
}

.category_type:hover {
    background-color: black;
    color: white;
    transform: scale(1.08);
}

/* START BUTTON */
#start_button_div {
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    /* Transparent background */
    backdrop-filter: blur(15px) saturate(150%);
    /* Blur + color boost */
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    /* Safari support */
    border: 2px solid black;
    height: 60px;
    margin: 30px auto;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    user-select: none;
    /* text select nahi hoga */
    /* animation: moveY 2s infinite ease-in-out; */
    padding: 5.5px;
}

@keyframes moveY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    /* kitna move karna hai right */
    100% {
        transform: translateY(0);
    }
}



a {
    text-decoration: none;
}


a h3 {
    font-size: 25px;
    text-align: center;
    color: white;
    padding: 5.5px;

}

#start_button_div:hover {
    transform: scale(1.03);
    background-color: yellow;
    border: 2px solid yellow;
}

#start_button_div h3:hover {
    color: black;
}


#main_2 {
    height: 500px;
    width: 65%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: none;
    margin: 50px auto;
    border: 2px solid white;
}




#you_have_Selected {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 20px 20px 0px 20px;
}

#rule_box {
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    margin-right: 70px;
    animation: moveY 2s infinite ease-in-out;
    user-select: none;
    /* text select nahi hoga */


    display: none;
}

#noob_rules {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    user-select: none;
    /* text select nahi hoga */
}

#rule_explain {
    text-align: center;
    font-size: 13.5px;
    padding: 10px;
    user-select: none;
    /* text select nahi hoga */
}

#p_tag_of_rule_box {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    user-select: none;
    /* text select nahi hoga */
    padding: 10px;
}

#blue_box {
    background-color: blue;
    margin-top: 34.5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 130px;
    width: 250px;
    user-select: none;
    /* text select nahi hoga */
}

#deve_name {
    padding: 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    user-select: none;
    /* text select nahi hoga */
}

#main_gpt {
    padding: 15px 15px 0px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    user-select: none;
    /* text select nahi hoga */
}

.showing_number_of_selected_Question {
    color: white;
    text-align: center;
    font-size: 90px;
    position: relative;
    top: -200px;
    user-select: none;
}

#select_number_of_question {
    color: white;
    text-align: center;
    padding-top: 30px;
    user-select: none;
}

#done {
    padding: 10px 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 0px 0px 15px black;
    border: 2px solid yellow;
    color: black;
    background-color: yellow;
    transform: scale(1.05);
    user-select: none;
}

#input_number_of_question {
    padding: 10px 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    user-select: none;
}

#buttons {
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    user-select: none;
}

#selected_number_of_question_text {
    text-align: center;
    color: crimson;
    letter-spacing: 2px;
    display: none;
    user-select: none;
}

#all_the_best {
    color: rgb(0, 255, 0);
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: 150px;
    left: 30px;
    user-select: none;
    
}

#start_quiz {
    color: white;
    user-select: none;
}

#start_main {
    padding: 10px 25px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    font-weight: 500;
    box-shadow: 0px 0px 15px black;
    border: 2px solid royalblue;
    background-color: royalblue;
    transition: 0.2s all ease;
    user-select: none;
    animation: moveX 2s infinite ease-in-out;
}

#start_main:hover {
    transform: scale(1.05);
    user-select: none;
}

#start_and_main {
    /* background-color: black; */
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-right: 30px;
    user-select: none;
}

#start_final {
    margin-top: 65px;
    /* margin-left: 30px; */
    margin-right: 30px;
    /* background-color: white; */
    justify-content: end;
    display: flex;
    user-select: none;
}